.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FFF700;
  height: 120px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 65px;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
